* {
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 0;
    margin: 0;
    --main-blue: #1b1529;
    --nav-blue: #171025;
    --main-gold: #bb8b41;
    --alert-green: #73b559;
    /* color: white; */
    overflow-x: hidden;
}

.text-center {
    text-align: center;
}

.text-danger {
    color: red;
}

.text-success {
    color: green;
}

.text-bold {
    font-weight: bold;
}

.hero h1 {
    font-size: 3rem;
}

.hero h2 {
    font-size: 2rem;
    margin: 1rem 0;
}

.hero h4 {
    font-size: 2rem;
    font-weight: 600;
    color: var(--main-gold);
    margin-bottom: 2rem;
}
